<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center">
      <h1 class="jumbotron">Inventory</h1>
      <div>
        <!-- write a for loop that lists out your data and accesses the values using dot notation. -->
          {% for item in inventory %}
          <div class="col-lg-4">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">{{ item.type }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Cost: {{ item.cost }}</h6>
                    <p class="card-text">Potential Revenue: {{ item.cost * item.stock }}</p>
                  </div>
                </div>
            </div>
            {% endfor %}

      </div>
    </div>
  </body>

</html>