<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Pals!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Pet Pal</h1>
            <p>Find your pet a pal!</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Look at all of the current pet pals!</h2>
                <div id="plot"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="/send">Add your pet here!</a></h2>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
