<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Plotlyjs Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="bar"></div>
    <select id="selDataset" onchange="getData(this.value)">
        <option value="emoji_char">Emoji Char</option>
        <option value="emoji_id">Emoji ID</option>
        <option value="emoji_name">Emoji Name</option>
    </select>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
