#hairmetal {
  border-radius: 8px;
}

.chart::before {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: -1;
  display: block;
  width: 400px;
  height: 300px;
  content: " ";
  background-image: url("maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #551aaf;
  border: 0;
  border-radius: 10px;
}

.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}
